body {
    background-color: rgb(220, 241, 255);
}
.container {
    padding: 10px 15px 10px 15px;
    background-color: white;
    margin: 3% auto 20% auto;
    max-width: 60%;
}

h1 {
    margin: 1px 5px 15px 10px;
}

.form-field{
    margin: 10px;
}
label {
    font-size: 18px;
    margin: 5px;
}
input {
    margin: 5px;
    padding: 4px 4px 4px 10px;
    width: 100%;
    outline: none !important;
    border-color: lightgrey;
    border-radius: 5px;
}
input:focus {
    outline: none !important;
    border-color: rgb(0, 190, 255);
}
small {
    margin: 6px 10px 10px 15px;
}
.submit-button {
    margin: 5px auto 5px auto;
    text-align: center;
}
button {
    border: none;
    margin: 8px;
    padding: 8px;
    border-radius: 3px;
    color: white;
    background-color: rgb(0, 190, 255)
}

.form-field.error input {
    border-color: red;
}
.form-field.success input {
    border-color: green;
}
.form-field.error small {
    color: red;
}
.form-field.success small {
    color: green;
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .form-field {
        margin: 0px;
    }
}